apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-api-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-api
  template:
    metadata:
      labels:
        app: hello-api
    spec:
      containers:
      - name: hello-api
        image: haridstu/hello-api:latest
        ports:
        - containerPort: 8000
        env:
        - name: ALLOWED_ORIGINS
          value: "http://hello-api-service"
---
apiVersion: v1
kind: Service
metadata:
  name: hello-api-service
spec:
  type: ClusterIP
  selector:
    app: hello-api
  ports:
  - port: 8000
    targetPort: 8000
